/*---------------------------------start media queries---------------------------------*/

@media only screen and (min-width: 2561px) {
  .container {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 1441px) {
  .container {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .container {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

@media only screen and (min-width: 321px) {
  .container {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

/*---------------------------------end media queries---------------------------------*/


/*-----------------------start css over-writing bootstrap defaults-------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  margin: .5em;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

figcaption {
  padding-top: .5em;
}

form {
  padding-top: 3em;
}

.row {
  padding-bottom: 2em;
}

.item {
  border: 1px solid black;
  padding-bottom: 1em;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1em;
}

.item h3 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.item img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

figure {
  align-items: center;
}

figcaption {
  font-size: .75em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0px auto;
}



nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px auto;
  background: #418ED9;
}

nav ul li {
  color: white;
  padding: .25em;
  margin: 0px auto;
}

nav ul li a {
  text-decoration: none;
  font-weight: 900;
  color: white;
}

nav ul li a:hover {
  color: white;
}

nav ul li a:active {
  color: white;
}

nav ul li a:visited {
  color: white;
}

/*-----------------------end css over-writing bootstrap defaults/*-----------------------/*
